/*#Page d'accueil*/
#navbar {
	position: fixed;
	top:10px;
	left:50%;
	margin-left:-154px;
}

#header {
	position: relative;
	top: -10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
	top:10px;
}

li {
	display: inline;
	border: 2px solid #000000;
	font-family: Tahoma,Futura, sans-serif;
	font-size:20px;
	color: #fffff;
	padding: 10px;
	background-color: #45b39d;
}
/*span {
  position: relative;
  left:0px;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #fffff;
	padding: 7px;
	background-color: #45b39d

}*/
body{
  background-color:black;
}


a {
  position: relative;  /* Nécessaire pour appliquer z-index */
  z-index: 15;  /* Un z-index plus élevé que celui de l'image */
  color: black;
  text-decoration:none;  
}
.div1 {
  position: absolute;
  left:70px;
  width: 170px;
  height: 100%;
  background-image: url('fond1.jpg');
  z-index: 0; /* Passer ce div au-dessus de l'autre */
  background-color: white; /* Ajoute une couleur de fond temporaire pour tester */
}
.div2{
  position: absolute;
  margin-top:55px;
  opacity:0.65;
  left:0px;
  width: 100%;
  height: 45px;
  background-color: #336666;
  z-index: 1; /* Passer ce div en dessous de l'autre */
}

.div3 {
  position: absolute;
  left:90px;
  width: 130px;
  height: 100%;
  background-color: #73c6b6;
  z-index: 2; /* Passer ce div en dessous des deux*/
}

img {
  left:20px;
  top:20px;
  position: absolute;  /* Nécessaire pour appliquer z-index */
  z-index: 10;  /* Un z-index élevé pour qu'il soit au premier plan */
  width: 309px;
  height: 100px;
}
#page d'inscription
*{ background-color:#F4F6F6} 
h1{
  color: #73c6b6;|
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #73C6B6;
  font-family: Onyx; 
}

h2{
  color:#17A589;
  margin-left: auto;
  margin-right: auto;
  text-align: lefft;  
}

div{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #515A5A;
}

li { /*code cours, site 3W*/
	display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #73C6B6;
}

*{
  text-align: center;
}

strong{
  font-size: 25px;
}

a{
  display: block;/* Mettre le mot sur une ligne séparée */
  text-align: center;
}

#Google{
	display: block;/* Mettre la phrase sur une ligne séparée */
  left: 50px;
}

#Facebook{
	display: block;/* Mettre la phrase sur une ligne séparée */
  right: 50px; 
}







