/*#Page d'accueil*/
#navbar {
	position: fixed;
	left: 50%;
 }

#header {
	position: absolute;
	margin-top: -10px;
	background-color: #3c4543;
  	}
a:link{text-decoration: none;
	color:#336666;}
a:visited{color:black;}
a:hover{text-decoration: none;
	color:#336666;}
a:active{text-decoration: none;
	color:black;}


.liButton {
	display: inline-block; /* Change display pour inline-block afin que les éléments puissent être centrés */
	border: 1px solid #000000;
	font-family: Tahoma, Futura, sans-serif;
	font-size: 20px;
	color: black; /* Corrige la couleur du texte */
	padding: 10px;
	background-color: #45b39d;
}
.ulButton {
	list-style-type: none;
	width: 100%; /* L'élément <ul> occupe toute la largeur */
	height: 48px;
	position: fixed;
	opacity:0.85;
	margin-top: 5%;
  	background-color: #336666;
	/*top: 10px;*/
	left: 0; /*L'élément commence du bord gauche de la fenêtre */
	padding-left: 37%; /* Décale le contenu à 154px du bord gauche */
}
.titre1{margin-top:90px;
	margin-left:20%;
	font-family:Onyx;
	font-size:150px;
	color:grey;}
.titre2{
	margin-left:400px;
	color:white; 
}
p{background-color:#006633;
	margin-left:20%;
	width:40%;
	font-family:Verdana;
	}
#uno{
	position:absolute;
	margin-left:65%;
	width:400px;
	margin-top:-450px;
	z-index:10;

}

/*span {
  position: relative;
  left:0px;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #fffff;
	padding: 7px;
	background-color: #45b39d

}*/

#Logo {
  position: relative;  /* Nécessaire pour appliquer z-index */
  z-index: 15;  /* Un z-index plus élevé que celui de l'image */
  color: black;
  text-decoration:none;
  margin-left:6%;
  top:5%;  

.liCompte {
  direction:rtl;
  display: inline; /* Change display pour inline-block afin que les éléments puissent être centrés */
  border: 1px solid #000000;
  left:200px;
  font-family: Tahoma, Futura, sans-serif;
  font-size: 20px;
  color: black;
}


/*.div1 {
  position: absolute;
  left:70px;
  width: 170px;
  height: 100%;
  background-image: url('fond1.jpg');
  z-index: 0; /* Passer ce div au-dessus de l'autre 
}*/
/*.div2{
  position: absolute;
  margin-top:55px;
  opacity:0.65;
  left:0px;
  width: 100%;
  height: 45px;
  background-color: #336666;
  z-index: 1; /* Passer ce div en dessous de l'autre 
}*/

/*.div3 {
  position: absolute;
  left:90px;
  width: 130px;
  height: 100%;
  background-color: #73c6b6;
  z-index: 2; /* Passer ce div en dessous des deux
}*/

img {
  position: absolute;  /* Nécessaire pour appliquer z-index */
  z-index: 10;  /* Un z-index élevé pour qu'il soit au premier plan */
  width: 309px;
  height: 100px;
}
/*#Inscription*/
h1{
  color: #C7A317;|
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #000;
  font-family: Roboto Slab;
  font-size: 100px; 
}

h2{
  color:#F5F5DC;
  margin-left: auto;
  margin-right: auto;
  text-align: left; 
  font-family: Roboto Slab; 
  letter-spacing: 2px; 
  word-spacing: 5px; 
  line-height: 1.5;
  font-size:30px;
}

div{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #515A5A;
}

button{
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
input-box {
  background-color: rgba(255, 255, 255, 0.5); 
}
/*#Mon profil*/
	
/*li { /*code cours, site 3W*/
  font-family: Futura, Tahoma, sans-serif;
  color: #ffffff;
  background-color: #73C6B6;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px 5px;
	background-color: #73C6B6;
  width: 250px;
}

strong{
  font-size: 25px;
}

#Google{
  display: block; /* Met chaque bouton sur une ligne */
    text-align: center;
    padding: 10px;
    width: 250px;
}

#Facebook{
 display: block; /* Met chaque bouton sur une ligne */
    text-align: center;
    padding: 10px;
    width: 250px;
}*/







